@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn {
        @apply bg-black text-white font-bold rounded-lg w-full py-4 mb-4  bg-dark-navy hover:shadow-3xl duration-300 cursor-pointer;
    }
        
}



input[type="text"].invalid {
    background-color: #ff625726;
    color: #ff6257;
    border: 1px solid #ff6257;
}

input[type="text"].invalid::placeholder {
    color: #ff6257;
}

.span-advice.invalid {
    display: block;
}

.email-card.inactive {
    display: none;
}

.email-success-card.active {
    display: block;
}